doctype html
html(lang='es-mx')
	head
		link(href='css/main.css' rel='stylesheet')
		meta(charset='UTF-8')
		script(src='https://cdn.socket.io/socket.io-1.4.5.js')
	body
		header Cabezal
		section.content Contenido
			div Tool
				span.tooltip Tool-tip
		footer Pie de página
		